h1{
    color:white;
}
body{
    background-color: rgb(77, 0, 27);
}
p{
    color:white

}
h3{
    color:white
}
h4{
    color:white
}
h2{
    color:white
}
h5{
    color:rgba(7, 204, 43, 0.614)
}
button{
    background-color: blue;
}
